<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>房间预订详情</title>
</head>
<body>
<div align="right">
    <a href="{{ url_for("logout") }}">退出</a>
</div>
    <table align="center" border="1">
        <tr>
            <td colspan="5" align="center">
                <b>房间号：</b>{{ roomsInfo.roomid }}<br>
                <b>房间类型：</b>{{ roomsInfo.type }}<br>
                <b>价格：</b>{{ roomsInfo.price }}
            </td>
        </tr>
        {% for tmp in ordersInfo %}
            {% if loop.index0%5==0 %}
                <tr>
            {% endif %}
            <td>
            日期: {{ tmp }}<br>
            状态: {{ ordersInfo[tmp] }}<br>
            {% if ordersInfo[tmp] == "未预订" %}
                <a href="{{ url_for("bookroom",roomid=roomsInfo.roomid,booktime=tmp)}}">点击预定</a>
            {% else %}
                <a href="#" onclick="javascript:alert('该日期已经被预订，您不可预订')">不可预订</a>
            {% endif %}
            </td>

            {% if loop.index0%5==4 %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>

</body>
</html>