<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>房间</title>
</head>
<div align="right">
    <a href="{{ url_for("logout") }}">退出</a>
</div>
<body>
    {% for tmp in roomsInfo %}
        <table width="200" border="1" align="center">
        <td align="center">
       <b>房间号:</b> {{ tmp["roomid"] }}<br>
        <b>房间类型：</b>{{ tmp["type"] }}<br>
       <b>价格：</b>{{ tmp["price"] }} <br>
        <a href="{{ url_for("getRoomsInfo",roomid = tmp["roomid"]) }}">查看房间信息</a>
          </td>
        <br>

        </table>



    {% endfor %}

</body>
</html>